{% extends 'base.html.twig' %}

{% block body %}
<div class="kmns-home-block">
  <h2 class="kmns-title">Samples list</h2>


  <div class="sample-html sample-html--buttons">
    <h3 class="_title">Buttons</h3>
    <div class="_content">
      <button class="btn" type="button">.btn</button>
      <button class="btn btn-primary" type="button">.btn.btn-primary</button>
      <button class="btn btn-info" type="button">.btn.btn-info</button>
      <button class="btn btn-success" type="button">.btn.btn-success</button>
      <button class="btn btn-warning" type="button">.btn.btn-warning</button>
      <button class="btn btn-danger" type="button">.btn.btn-danger</button>
      <button class="btn btn-magic" type="button">.btn.btn-magic</button>
    </div>
</div>
{% endblock %}
